/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header {
	position: absolute;
	top: 5rem;
	left: -0.5rem;
	width: 100%;
	z-index: 10;
	background: transparent;

	.header__inner {
		max-width: 152rem;
		padding: 0 1.5rem;
		margin: 0 auto;
		display: flex;
		align-items: center;
	}

	.header__aside {
		padding-top: 0.4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex: 0 0 62.3%;
	}

	.header__logo {
		flex: 0 0 37.1%;
	}

	.header__nav {
		flex: 0 0 60%;
	}
}
