/* ------------------------------------------------------------ *\
	Box
\* ------------------------------------------------------------ */

.box {
	background-color: #fff;
	height: 100%;
	padding-bottom: 3.5rem;

	.box__head {
		padding: 1.9rem 3.4rem;
		background-color: #7f82b4; 
		letter-spacing: 0.07rem;
	}

	.box__head a {
		text-decoration: none;
	}

	.box__head h5 {
		font-size: 2.2rem;
		font-weight: 400;
		transition: color $t-duration ease-in-out;
	}

	.box__head:hover h5 {
		@media(hover:hover) {
			color: $c-green;
		}
	}

	.box__image {
		position: relative;
		padding-top: 50.6%;
		margin-bottom: 2.7rem;
		overflow: hidden;
	}

	.box__image img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;

		&:hover {
			@media(hover:hover) {
				animation: pulse 2s infinite ease-in-out;
			}
		}
	}

	@keyframes pulse {
		0%,100% {
			opacity: 1;
			transform: scale(1);
		}

		50% {
			opacity: 0.5;
			transform: scale(1.2);
		}
	}

	.box__body {
		padding: 0 3.2rem;
		margin-bottom: 2.4rem;
	}

	.box__actions {
		color: $c-blue;
		padding: 0 3.2rem;
		font-weight: 700;
	}

	.box__actions a {
		text-decoration: none;
		position: relative;
		transition: color $t-duration ease-in-out;
		padding-left: 3rem;
		letter-spacing: 0.02rem;

		&:hover {
			@media(hover:hover) {
				color: $c-green;
			}
		}

		&:before {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 1.5rem;
			height: 1.5rem;
			border-radius: 100%;
			border: 0.1rem solid #dfdfdf;
			transition: border $t-duration ease-in-out;
		}

		&:after {
			content: "";
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0rem;
			transform: translateY(-50%);
			width: 0.9rem;
			height: 0.9rem;
			margin-top: -0.5rem;
			border-style: solid;
			border-size: 1rem;
			border-color: #dfdfdf #dfdfdf transparent transparent;
			transform: rotate(45deg);
			transition: border $t-duration ease-in-out;
		}
	}
}

/*  box blue  */

.box--blue {
	.box__head {
		background-color: #638aca;
	}
}

/*  box pink  */

.box--pink {
	.box__head {
		background-color: #be73a3;
	}
}