/* ------------------------------------------------------------ *\
	Card
\* ------------------------------------------------------------ */

.card {
	.card__image {
		position: relative;
		padding-top: 74.7%;
		margin-bottom: 2.8rem;
		overflow: hidden;
	}

	.card__image img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		vertical-align: top;
		transition: transform $t-duration ease-in-out;

		&:hover {
			@media(hover:hover) {
				transform: scale(1.1);
			}
		}
	}

	.card__title {
		text-decoration: none;
	}

	.card__title h6 {
		color: $c-blue;
		font-weight: 400;
		letter-spacing: -0.03rem;
	}

	.card__price {
		display: inline-block;
		margin-bottom: 1.4rem;
	}

	.card__sub-title {
		text-decoration: none;
	}

	.card__sub-title h6 {
		color: $c-base;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 1.6rem;
		letter-spacing: -0.03rem;
	}
}