/* ------------------------------------------------------------ *\
	Section-grey
\* ------------------------------------------------------------ */

.section-grey {
	background-color: #f6f6f6;
	padding: 3rem 0 10.6rem;

	.section-grey__boxes {
		margin-top: -9rem;
		position: relative;
	}
}