<header class="header">
	<div class="header__inner">
		<a href="#" class="logo header__logo">
			<img src="assets/images/logo@2x.png" alt="" width="130" height="130">
		</a>

		<div class="header__aside">
			<nav class="nav header__nav">
				<ul>
					<li>
						<a href="#">Sales</a>
					</li>
					
					<li>
						<a href="#">Lettings</a>
					</li>
					
					<li class="is-current dropdown-show">
						<a href="#">New Homes</a>

						<div class="dropdown-menu hidden">
							<ul class="dropdown-menu__inner">
								<li class="dropdown-menu__col">
									<ul class="list-features">
										<li class="list-features__title">
											<h4>Featured Developments</h4>
										</li>

										<li>
											<a href="#">Aurelia</a>
										</li>
										
										<li>
											<a href="#">Embassy Gardens</a>
										</li>
										
										<li>
											<a href="#">Fitzroy place</a>
										</li>
										
										<li>
											<a href="#">Hallsville Quarter</a>
										</li>
										
										<li>
											<a href="#">Royal Wharf</a>
										</li>
									</ul><!-- /.list-features -->
								</li><!-- /.dropdown-menu__col -->
								
								<li class="dropdown-menu__col">
									<ul class="list-features">
										<li class="list-features__title">
											<h4> Development resources</h4>
										</li>

										<li>
											<a href="#">Search for New Developments</a>
										</li>
										
										<li>
											<a href="#">buying from Abroad</a>
										</li>
										
										<li>
											<a href="#">Buying for Investment</a>
										</li>
										
										<li>
											<a href="#">Developer information</a>
										</li>
									</ul><!-- /.list-features -->
								</li><!-- /.dropdown-menu__col -->
								
								<li class="dropdown-menu__col">
									<div class="brochure brochure--adjust">
										<div class="brochure__title">
											<h6>Download Our Brochure</h6>
										</div><!-- /.brochure__title -->

										<fugure class="brochure__image">
											<a href="#">
											<img src="assets/images/temp/brochure-image.jpg" alt="" width="260" height="182">
											</a>
										</fugure><!-- /.brochure__image -->
									</div><!-- /.brochure brochure--adjust -->
								</li><!-- /.dropdown-menu__col -->						
							</ul> <!-- dropdown-menu__inner -->
						</div><!-- /.dropdown-menu -->
					</li> <!-- is-current -->

					<li>
						<a href="#">About Us</a>
					</li>
				</ul>
			</nav><!-- /.nav header__nav -->

			<a href="#" class="btn dropdown-show">Free valuation</a>

			<nav class="nav-utilities">
				<ul>
					<li>
						<a href="#">
							<figure>
								<img src="assets/images/nav-utilities-icon-1@2x.png" alt="" width="31" height="30">
							</figure>
						</a>
					</li>
					
					<li class="dropdown-show">
						<a href="#">
							<figure>
								<img src="assets/images/nav-utilities-icon-2@2x.png" alt="" width="31" height="31">
							</figure>
						</a>
					</li>
					
					<li>
						<a href="#">
							<figure>
								<img src="assets/images/nav-utilities-icon-3@2x.png" alt="" width="31" height="31">
							</figure>
						</a>
					</li>
				</ul>
			</nav><!-- /.nav-utilities -->
		</div><!-- /.header__aside -->
	</div><!-- /.header__inner -->
</header><!-- /.header -->
